
@{
    ViewBag.Title = "Index";
}
<div class="formLayout">
    <h2>Salle de clavardage</h2>
    <p>
        <b>Todo</b>
    </p>
</div>

@section Scripts {

    <script defer>
        initTimeout(180);
    </script>
}
